<form class="example-form" #form="ngForm">
  <mat-card class="cabecalho">
      <div class="botao">
        <mat-label class="label_cabecalho" disabled >Editar Situação:</mat-label>
        <input class="id" matInput disabled [(ngModel)]="situacao.id" name="id">
        <button mat-stroked-button class="salvar" (click)="salvar()">Salvar</button>
      <button mat-stroked-button class="voltar" (click)="voltar()">voltar</button>
    </div>
  </mat-card>
      
    <table class="example-full-width-table" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width medidas" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="situacao.nome" name="nome" (input)="onInput()">
      </mat-form-field></td>
    </tr></table>    
  </form>
