table {
    width: 80%;
    height: 80%;
    margin: auto;
  }

th{  
  font-weight: 400; 
  color:#1176c9 ;
}

td{
  font-size: 12px;
}
.botao_acao{
  display: flex!important;
  margin-top: 15%;
  height: 44px;

}
.botao_acao button{
  margin-left: 5%;
}
.mat-stroked-button{
  margin-right: 10px;
}

.acao{
  text-align: center;
}

mat-paginator{
  display: flex;
  justify-content: center;
}
.salvar{
  margin-right: 10px;
}
mat-icon{
  font-size: 15px;
}
.botao_icone{
  width: 30px;
  height: 30px;
}
.spinner{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  align-items: center;
  height: 80%;
  
}
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
  stroke: #1176c9;
}

:host ::ng-deep .mat-cell{
  border-bottom-color: #1176c9;
}

:host ::ng-deep th.mat-header-cell{
  border-bottom-color: #7db7e6;
}

:host ::ng-deep .mat-cell{
  border-bottom-color: #1176c9
}
/*pesquisa*/
.pesquisa{
  width: 35%;
  margin-left: 100px;
}

.pesquisa input{
  font-weight: 400; 
  padding-right: 20px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:hover{
  background-color: #e7e5e5;

}
::ng-deep .mat-form-field .mat-form-field-underline::before{
  background-color: #1176c9 ;
}

::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: #1176c9 ;
}

.pesquisa mat-label{
  color:#1176c9 ;
}

.alinhar-checbox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/*chekout*/

.example-h2 {
  margin: 10px;
}

.example-section {
  align-content: center;
  align-items: center;
}

.example-margin {
  color:  #1176c9;
  margin: 0 10px;
}
.mat-checkbox-inner-container{
  color: #1176c9;
}
:host ::ng-deep .mat-checkbox-frame{
  border-color: #1176c9;
}
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background 
{
  background-color: #1176c9;
}
.checkbox{
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
}