.example-form {
    width: 90%;
    min-width: 150px;
    margin: auto;
  }
  .example-full-width {
    width: 100%;
  }

  .cabecalho{
    background-color: #1176c9;
    margin-bottom: 20px;
  }

  .id{
    color: #ffffff;
  }

  table{
    width: 50%!important;
  }
  .nome{
    width: 200px;
  }

  td {
    padding-right: 8px;
  }
  
  .label_cabecalho{
    width: 10%;
    color: #ffffff;
  }
  .botao{
    display: flex;
    align-items: center;
  }
  button{
    margin-left: 10px;
  }
  :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    background-color: #1176c9;
  }
  mat-label{
    color:#1176c9 ;
  }